[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
sqlalchemy = {extras = ["asyncio"], version = ">=1.4.35"}
pyjwt = "*"
psycopg2 = "*"
uvicorn = {extras = ["standard"],version = ">=0.11.7"}
fastapi = ">=0.62.0"
gunicorn = "*"
pythondi = ">=1.2.3"
user-agents = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
pytz = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
